@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$strongCyan: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyan--second: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lightGrayishCyan--second: hsl(189, 41%, 97%);
$whiteColor: hsl(0, 0%, 100%);

.main {
  background-color: $lightGrayishCyan;
  font-family: "Space Mono";
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
.header,
.form {
  width: 100%;
}
.header {
  height: 20vh;
  display:flex;
  justify-content:center;
  align-items: center;
  h1{
    font-size:24px;
    font-weight: bold;
    color:$darkGrayishCyan;
  }
}
.form {
  background-color:white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-top:20px;
  padding-bottom:20px;
  &__input{
    background-color: $lightGrayishCyan--second;
    border:none;
    border-radius: 5px;
    height:30px;
  }
  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    &--btns {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 10px;
    }
  }
}
.btn{
  &--primary{
    width: 80%;
    margin:auto;
    background-color:$darkGrayishCyan--second;
    
  }
  width: 95%;
  height: 30px;
  font-weight: bold;
  border:none;
  border-radius:5px;
  background-color:$veryDarkCyan;
  color:white;
  &:hover{
    color:$veryDarkCyan;
    background-color: $strongCyan;
  }
}

.display{
  background-color:$veryDarkCyan;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  row-gap:20px;
  padding-top:20px;
  padding-bottom:20px;
  &__tip,
  &__total{
    width: 80%;
    margin:auto;
    color:white;
    display:flex;
    flex-direction: row;
    align-content: center;
  }
}
